<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>

        <form action="/api/tigerdirect/scrape">
            <input type="text" name="product_url" placeholder="Product URL">
            <button>Submit</button>
        </form>

    </body>
</html>
